In [4]:
import pandas as pd
import numpy as np

In [6]:
df = pd.read_csv(r"D:\AI\008_NED_Machine_Learning\data\012-canada_per_capita_income(Simple Linear Regression).csv")
df

    year  per capita income (US$)
0   1970              3399.299037
1   1971              3768.297935
2   1972              4251.175484
3   1973              4804.463248
4   1974              5576.514583
5   1975              5998.144346
6   1976              7062.131392
7   1977              7100.126170
8   1978              7247.967035
9   1979              7602.912681
10  1980              8355.968120
11  1981              9434.390652
12  1982              9619.438377
13  1983             10416.536590
14  1984             10790.328720
15  1985             11018.955850
16  1986             11482.891530
17  1987             12974.806620
18  1988             15080.283450
19  1989             16426.725480
20  1990             16838.673200
21  1991             17266.097690
22  1992             16412.083090
23  1993             15875.586730
24  1994             15755.820270
25  1995             16369.317250
26  1996             16699.826680
27  1997             17310.757750
28  1998             16622.671870
29  1999             17581.024140
30  2000             18987.382410
31  2001             18601.397240
32  2002             19232.175560
33  2003             22739.426280
34  2004             25719.147150
35  2005             29198.055690
36  2006             32738.262900
37  2007             36144.481220
38  2008             37446.486090
39  2009             32755.176820
40  2010             38420.522890
41  2011             42334.711210
42  2012             42665.255970
43  2013             42676.468370
44  2014             41039.893600
45  2015             35175.188980
46  2016             34229.193630

In [7]:
print(type(df))

<class 'pandas.core.frame.DataFrame'>

In [9]:
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47 entries, 0 to 46
Data columns (total 2 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   year                     47 non-null     int64
 1   per capita income (US$)  47 non-null     float64
dtypes: float64(1), int64(1)
memory usage: 884.0 bytes

              year  per capita income (US$)
count    47.000000                47.000000
mean   1993.000000             18920.137063
std      13.711309             12034.679438
min    1970.000000              3399.299037
25%    1981.500000              9526.914515
50%    1993.000000             16426.725480
75%    2004.500000             27458.601420
max    2016.000000             42676.468370

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47 entries, 0 to 46
Data columns (total 2 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   year                     47 non-null     int64
 1   per capita income (US$)  47 non-null     float64
dtypes: float64(1), int64(1)
memory usage: 884.0 bytes

In [14]:
x=df.drop(columns=["per capita income (US$)"])
x

    year
0   1970
1   1971
2   1972
3   1973
4   1974
5   1975
6   1976
7   1977
8   1978
9   1979
10  1980
11  1981
12  1982
13  1983
14  1984
15  1985
16  1986
17  1987
18  1988
19  1989
20  1990
21  1991
22  1992
23  1993
24  1994
25  1995
26  1996
27  1997
28  1998
29  1999
30  2000
31  2001
32  2002
33  2003
34  2004
35  2005
36  2006
37  2007
38  2008
39  2009
40  2010
41  2011
42  2012
43  2013
44  2014
45  2015
46  2016

In [15]:
y=df["per capita income (US$)"]
y

0      3399.299037
1      3768.297935
2      4251.175484
3      4804.463248
4      5576.514583
5      5998.144346
6      7062.131392
7      7100.126170
8      7247.967035
9      7602.912681
10     8355.968120
11     9434.390652
12     9619.438377
13    10416.536590
14    10790.328720
15    11018.955850
16    11482.891530
17    12974.806620
18    15080.283450
19    16426.725480
20    16838.673200
21    17266.097690
22    16412.083090
23    15875.586730
24    15755.820270
25    16369.317250
26    16699.826680
27    17310.757750
28    16622.671870
29    17581.024140
30    18987.382410
31    18601.397240
32    19232.175560
33    22739.426280
34    25719.147150
35    29198.055690
36    32738.262900
37    36144.481220
38    37446.486090
39    32755.176820
40    38420.522890
41    42334.711210
42    42665.255970
43    42676.468370
44    41039.893600
45    35175.188980
46    34229.193630
Name: per capita income (US$), dtype: float64

In [16]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=45)

In [17]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(x_train, y_train)

LinearRegression()

In [47]:
x_test= pd.read_csv(r"D:\AI\008_NED_Machine_Learning\data\011-years(Simple Linear Regression).csv")
x_test

    year
0   1978
1   1979
2   1980
3   1981
4   1982
5   1992
6   1993
7   1994
8   1995
9   1996
10  1997
11  1998
12  1999
13  2000
14  2001
15  2002
16  2011
17  2012
18  2013
19  2014
20  2015
21  2016
22  2017
23  2018
24  2019
25  2020
26  2021

In [48]:
y_pred = model.predict(x_test)
y_pred = pd.DataFrame(y_pred)
y_pred

               0
0    6230.188355
1    7046.803347
2    7863.418340
3    8680.033333
4    9496.648326
5   17662.798253
6   18479.413246
7   19296.028239
8   20112.643231
9   20929.258224
10  21745.873217
11  22562.488210
12  23379.103202
13  24195.718195
14  25012.333188
15  25828.948181
16  33178.483116
17  33995.098108
18  34811.713101
19  35628.328094
20  36444.943087
21  37261.558079
22  38078.173072
23  38894.788065
24  39711.403058
25  40528.018050
26  41344.633043

In [50]:
print(x_test.shape)
print(y_pred.shape)

(27, 1)
(27, 1)

In [61]:
result= pd.DataFrame({'x_test': x_test.squeeze(), 'y_pred': y_pred.squeeze()})

In [63]:
result

    x_test        y_pred
0     1978   6230.188355
1     1979   7046.803347
2     1980   7863.418340
3     1981   8680.033333
4     1982   9496.648326
5     1992  17662.798253
6     1993  18479.413246
7     1994  19296.028239
8     1995  20112.643231
9     1996  20929.258224
10    1997  21745.873217
11    1998  22562.488210
12    1999  23379.103202
13    2000  24195.718195
14    2001  25012.333188
15    2002  25828.948181
16    2011  33178.483116
17    2012  33995.098108
18    2013  34811.713101
19    2014  35628.328094
20    2015  36444.943087
21    2016  37261.558079
22    2017  38078.173072
23    2018  38894.788065
24    2019  39711.403058
25    2020  40528.018050
26    2021  41344.633043