In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error,mean_squared_error,r2_score

In [3]:
df = pd.read_csv('data/HomePricedata.csv')

In [4]:
df.head()

   area  bedrooms  age   price
0  3774         1   26  175023
1  1460         5   27  117324
2  1894         3   28  111840
3  1730         1    8   44561
4  1695         3    2  118099

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   area      800 non-null    int64
 1   bedrooms  800 non-null    int64
 2   age       800 non-null    int64
 3   price     800 non-null    int64
dtypes: int64(4)
memory usage: 25.1 KB

In [6]:
df.describe()

             area    bedrooms         age          price
count   800.00000  800.000000  800.000000     800.000000
mean   2342.89375    2.947500   14.382500  135028.830000
std     972.78049    1.436079    8.650563   53923.976963
min     601.00000    1.000000    0.000000    -314.000000
25%    1553.75000    2.000000    7.000000   93519.250000
50%    2286.50000    3.000000   14.000000  134974.000000
75%    3213.75000    4.000000   22.000000  173372.250000
max    3998.00000    5.000000   29.000000  273153.000000

In [8]:
df['bedrooms'].nunique()

5

In [9]:
df['bedrooms'].unique()

array([1, 5, 3, 4, 2], dtype=int64)

In [10]:
df['bedrooms'].value_counts()

bedrooms
1    172
5    166
3    164
2    164
4    134
Name: count, dtype: int64

In [11]:
df.isnull().sum()

area        0
bedrooms    0
age         0
price       0
dtype: int64

In [13]:
X = df.drop(columns=['price'])
y= df['price']

In [14]:
X

     area  bedrooms  age
0    3774         1   26
1    1460         5   27
2    1894         3   28
3    1730         1    8
4    1695         3    2
..    ...       ...  ...
795  2694         5   23
796  1856         2   16
797  3976         3    9
798  2149         1   28
799  1766         3    9

[800 rows x 3 columns]

In [15]:
y

0      175023
1      117324
2      111840
3       44561
4      118099
        ...
795    138642
796     85965
797    233271
798    108608
799    119221
Name: price, Length: 800, dtype: int64

In [16]:
# Train Test Split
X_train,X_test,y_train,y_test= train_test_split(X,y,test_size=0.2,random_state=45)

In [17]:
X_train

     area  bedrooms  age
266  2791         2    1
464  1766         1   22
575  3449         1   26
447  2441         2   25
605  1666         3   22
..    ...       ...  ...
725  2676         2    4
607  3044         5   28
544  2279         3    5
643  2171         3    8
414  1580         5   16

[640 rows x 3 columns]

In [18]:
X_test

     area  bedrooms  age
418  3927         1   28
67   3603         5   20
204  2000         4    2
250  2333         2   13
472  1174         2    4
..    ...       ...  ...
551  3718         3    1
285  2334         1    5
48   2128         3   26
519  3438         2    4
413  2900         1   11

[160 rows x 3 columns]

In [19]:
y_train

266    134828
464     59545
575    152258
447     94439
605    111077
        ...
725    163674
607    156491
544    151133
643    125442
414    135089
Name: price, Length: 640, dtype: int64

In [25]:
y_test

418    141287
67     203576
204    135924
250    141173
472     65020
        ...
551    242963
285    139037
48     131790
519    181154
413    140981
Name: price, Length: 160, dtype: int64

In [21]:
reg = LinearRegression()

In [22]:
reg.fit(X_train,y_train)

LinearRegression()

In [26]:
y_pred = reg.predict(X_test)

In [27]:
pd.DataFrame({'y_test':y_test, 'y_pred':y_pred,'MAE':(y_test-y_pred)})

     y_test         y_pred           MAE
418  141287  183488.167114 -42201.167114
67   203576  211174.493152  -7598.493152
204  135924  137242.633473  -1318.633473
250  141173  126181.421085  14991.578915
472   65020   76204.939629 -11184.939629
..      ...            ...           ...
551  242963  213627.884182  29335.115818
285  139037  123402.393625  15634.606375
48   131790  114834.004691  16955.995309
519  181154  188061.077758  -6907.077758
413  140981  146509.387499  -5528.387499

[160 rows x 3 columns]